
.footer {
    bottom: 0!important;
    color: #67757c;
    left: 0px!important;
    padding: 17px 15px;
    position: absolute!important;
    right: 0!important;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #ffffff; }
  